<!DOCTYPE html>
<head>

<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">

<style>



</style> 

<html>
    <title>Hang the DJ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png')}}" />
</head>

<body>

   
    <h1 style="margin: 0">
        <a href="{{url_for('home')}}">
            <img src="{{ url_for('static', filename='logo.png')}}" width="30%">
        </a>
    </h1>
   
    

<div class="maintext" id="content">
    <h1 > error {{status_code}} (sad)</h1>
    

    <div class="buttontop">
        <nav>
            <ul id="myMenu">
                  <b><li><a href="{{url_for('home')}}" id = "back">GO HOME</a></li></b>

              
            </ul>
        </nav>
    </div>
</div>




    


</body>

</html>