<!DOCTYPE html>
<head>

<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">

<style>



</style> 

<html>
    <title>Hang the DJ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png')}}" />
</head>

<body>

   
    <h1 style="margin: 0">
        <a href="{{url_for('home')}}">
            <img src="{{ url_for('static', filename='logo.png')}}" width="30%">
        </a>
    </h1>
   

{% with messages = get_flashed_messages() %}
      {% for message in messages %}
        <div class="maintext" style="padding: 2%; text-align: center;">{{ message }}</div>
      {% endfor %}
  {% endwith %}


<form id="calc" enctype="multipart/form-data" method="post" >
<div class="maintext">
    <h2 style="padding: 0; margin: 0;">PERSON 1</h3>
    <div class="form-rows-container">
        <div class="form-row">
        <label>NAME:</label> <input required type="text" name="ID1">
        </div>

        <div class="form-row">
        <label>OCCUPATION/SUBJECT:</label> <input required type="text" name="occupation1">
        </div>

        <label style="margin-top: 20px">UPLOAD SCREENSHOT OF INSTAGRAM PROFILE: </label>
        <div class="drag-area" id="dragArea1" style="margin-top: 5px">
            <p id="dragAreaText1">Drag & drop your image here or <span>browse</span></p>
            <input required type="file" name="feed1" id="fileUpload1" accept="image/png, image/jpeg" hidden>
        </div>
    </div>
</div>

<div class="maintext">
    <h2 style="padding: 0; margin: 0;">PERSON 2</h3>
    <div class="form-rows-container">
        <div class="form-row">
        <label>NAME:</label> <input required type="text" name="ID2">
        </div>

        <div class="form-row">
        <label>OCCUPATION/SUBJECT:</label> <input required type="text" name="occupation2">
        </div>

        <label style="margin-top: 20px">UPLOAD SCREENSHOT OF INSTAGRAM PROFILE: </label>
        <div class="drag-area" id="dragArea2" style="margin-top: 5px">
            <p id="dragAreaText2">Drag & drop your image here or <span>browse</span></p>
            <input required type="file" name="feed2" id="fileUpload2" accept="image/png, image/jpeg" hidden>
        </div>
    </div>
</div>

<div class="maintext" style="display: flex; justify-content: center;">
    <button class="form-submit-button" >CALCULATE MATCH!</input>
</div>

</form>


    


<script>



            let dragArea = document.getElementById('dragArea1');
            let fileInput = document.getElementById('fileUpload1');
            let dragAreaText = document.getElementById('dragAreaText1');

            applyEventListeners(dragArea, fileInput, dragAreaText);

            dragArea = document.getElementById('dragArea2');
            fileInput = document.getElementById('fileUpload2');
            dragAreaText = document.getElementById('dragAreaText2');

            applyEventListeners(dragArea, fileInput, dragAreaText);

            function applyEventListeners(dragArea, fileInput, dragAreaText) {
                dragArea.addEventListener('click', () => {
                    fileInput.click();
                });

                fileInput.addEventListener('change', () => {
                    handleFiles(fileInput.files);
                });

                document.addEventListener('dragover', (event) => {
                    event.preventDefault();
                    dragArea.classList.add('hover');
                });

                document.addEventListener('dragleave', () => {
                    dragArea.classList.remove('hover');
                });

                document.addEventListener('drop', (event) => {
                    event.preventDefault();
                    dragArea.classList.remove('hover');
                    const files = event.dataTransfer.files;
                    handleFiles(files);
                });

                function handleFiles(files) {
                    if (files.length > 0 ) {
                        fileInput.files = files;
                        dragAreaText.textContent = `Uploaded: ${files[0].name}`; // Change the text to indicate successful upload
                        dragArea.classList.add('uploaded');
                    } else {
                        alert('Please upload a file.');
                        dragArea.classList.remove('uploaded');
                    }
                }
            }


    </script>

</body>

</html>