@import url("https://use.typekit.net/jcx2hnf.css");
body {
    background-image: url(/static/background.jpg);
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
   }

   

h1{
    text-align: center;
    font-family: "poppins", sans-serif;
font-weight: 700;
font-style: normal;
    font-size: 50px ;
    color: rgb(255, 255, 255);


    
}

h2 {
  text-align: center;
}

h3 {
    text-align: center;
    font-family: "poppins", sans-serif;
font-weight: 500;
font-style: normal;
    padding: 1%;
    font-size: 25px ;
    color: rgb(255, 255, 255);

}

img{
    align-items: center;

}

img:hover{

    animation: shake 3s; 

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


   .maintext{
    background-color: rgb(8, 42, 36);

      padding:5%;
  
      margin: 10%;
      margin-top: 5%;
      margin-bottom: 5%;
      font-size: 24px;

      border-radius: 4rem;
      transition: 0.5s;
      border: 2px solid rgb(204, 250, 100);
  
  
  }

.form-rows-container {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  margin-top: 25px;
  align-items: center;
}

.form-row > label {
  flex-shrink: 0;
}

.form-row > input {
  width: 100%;
}

.form-submit-button {
    background: #c8ea0a;
    font-family: "poppins", sans-serif;
    color: #000000;
    border: 1px solid #eee;
    font-family: "poppins", sans-serif;
    border-radius: 20px;
    text-shadow: none;
   font-size: 24px;
   padding: 2% 5%;
   transition: 0.5s;
   width: 100%;
   font-weight: 700;
  
    }
    .form-submit-button:hover {
    background: #7a9c59;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    text-shadow: none;
    cursor: pointer;
  
    }

    
  input[type=text] {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #c8ea0a;
    background: rgba(#c8ea0a, .2);
    background-color: #7a9c5960;
    border-radius: .2em .2em 0 0;
    padding: .5em;
    color: #ffffff;
    font-size: medium;
    box-shadow: #1d294b;
    transition: 0.75s;
  }
  input[type=text]:focus{
    border-bottom: .2em solid #085e26;
    background: rgba(#0c8a64, .2);

  }

  input[type=file] { 

	display: none;
	grid-auto-flow: column;
	gap: .5em;
	justify-items: center;
	align-content: center;
	color: #c8ea0a;
	border: .2em solid #c8ea0a;
	background: hsl(0 0 0/0);
	padding: .85em 1.5em;
	color: #c8ea0a;
	border-radius: 2em;
	transition: 0.5s;
  width: 80%;

}

input[type=file]:hover{
  background-color: #7a9c59;
}

input[type=file].uploaded{
  background-color: #7a9c59;
}

em{
  color: #b3dbc4;
  font-size: 18px;
  display: block;
}

label { 
  display: table-cell; 
  margin-right: 5%;
  padding: 1%;
  width: max-content;

}

.maintext img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#myMenu li a{
  background: #c8ea0a;
  color: #000000;
  border: 1px solid #eee;
  border-radius: 3rem;
  text-shadow: none;
  font-size: 50px;
  padding: 0.5%;
  padding-left: 5%;
  padding-right: 5%;
  transition: 0.5s;    
  font-family: "poppins", sans-serif;
  font-weight: 400;
  text-decoration:none;
  padding-top: 17px;
}

#myMenu li a:hover{
  background: #7a9c59;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 1.5rem;
  text-shadow: none;
}

  


#nav a{
  text-align: center;
  text-decoration:none;

}


nav ul {
  list-style-type: none;
  padding: 0;
  font-family: "poppins", sans-serif;
  font-weight: 100;
  text-decoration:none;
}

.buttontop{
  text-align: center;
  padding-bottom: 2rem;
}

#loading {
  width: 100%;
  height: 100%;
  text-align: center;
  }


  
  .drag-area {
    border: 2px dashed #ccc;
    border-radius: 1.5rem;
    padding: 20px 0px;
    text-align: center;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;

    transition: 0.3s;
    width: 100%;
    text-align: center;

}

.drag-area.hover {
    background-color: #91adc5;
}

.drag-area p {
    margin: 0;
    font-size: 16px;
}

.drag-area span {
    color: #c8ea0a;
    cursor: pointer;
    text-decoration: underline;
}

.uploaded {

  border: 2px solid #10a234;
    background-color: #59da8fb5;
    height: auto;

    color: #eee;
}

#copyAllBtn{
  background: #1d294b;
  color: #ffffff;
  border: 1px solid #eee;
  border-radius: 1.5rem;
  text-shadow: none;
 font-size: 24px;
 padding: 0.5%;
 padding-left: 5%;
 padding-right: 5%;
 transition: 0.5s;    
 font-family: "poppins", sans-serif;
 font-weight: 400;
 text-decoration:none;
 text-align: center;

}


#copyAllBtn:hover{
  background: #7a9c59;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 1.5rem;
  text-shadow: none;
}

.circle {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  line-height: 400px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  /* background-color: rgb(8, 42, 36);  */
  background-image: url("https://i.pinimg.com/originals/1b/aa/e4/1baae4f66cc7274d2f9e76d66411aefe.gif");
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 15px solid rgb(204, 250, 100);
  box-shadow: 0px 20px 20px #053a20;
}

.resulttext {
  font-size: 90px;
  
}

.smallicon{
  display: flex;
  justify-content: center;
  width: 20%;
}

.aitext {
  animation: FadeIn 5s;
}

@keyframes FadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.hidden{
  display: none;
}